<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--非会员积分数据库-->
    <!--本机测试库-->
    <add key="SqlString" value="Database=Beauty;Data Source=.;User Id=sa;Password=mofang;"/>
    <!--系统测试库-->
    <!--<add key="SqlString" value="Database=ql;Data Source=61.151.239.66;User Id=ql_f;Password=mofang;"/>-->
    <!--会员与积分数据库:由第三方管理后台-->
    <add key="IntegralName" value="demo1"/>
    <add key="IntegralPWD" value="31347750"/>
    <add key="IntegralIP" value="127.0.0.1"/>
    <!--发送电子邮件的帐户信息-->
    <add key="Email" value="cpbeauty@163.com"/>
    <!--发件邮箱-->
    <add key="EmailName" value="cpbeauty"/>
    <!--用户名-->
    <add key="EmailPassword" value="cpbeauty-7656"/>
    <!--密码-->
    <add key="EmailSmtp" value="smtp.163.com"/>
    <!--发件服务器-->
    <add key="EmailSmtpPort" value="25"/>
    <!--发件服务器端口-->
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <customErrors mode="Off"/>
    <!-- 设置Session存储在单独里程中 -->
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="480"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
</configuration>